@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 93%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 93%;
    --primary: 45 53% 55%;
    --primary-foreground: 0 0% 4%;
    --secondary: 0 0% 11%;
    --secondary-foreground: 0 0% 93%;
    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 44%;
    --accent: 45 53% 55%;
    --accent-foreground: 0 0% 4%;
    --destructive: 353 81% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 53% 55% / 0.2;
    --input: 45 53% 55% / 0.2;
    --ring: 45 53% 55%;
    --chart-1: 45 53% 55%;
    --chart-2: 210 22% 49%;
    --chart-3: 0 0% 93%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
    --card: 0 0% 8%;
    --card-foreground: 0 0% 93%;
    --popover: 0 0% 11%;
    --popover-foreground: 0 0% 93%;
    --primary: 45 53% 55%;
    --primary-foreground: 0 0% 4%;
    --secondary: 0 0% 11%;
    --secondary-foreground: 0 0% 93%;
    --muted: 0 0% 11%;
    --muted-foreground: 0 0% 44%;
    --accent: 45 53% 55%;
    --accent-foreground: 0 0% 4%;
    --destructive: 353 81% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 45 53% 55% / 0.2;
    --input: 45 53% 55% / 0.2;
    --ring: 45 53% 55%;
    --chart-1: 45 53% 55%;
    --chart-2: 210 22% 49%;
    --chart-3: 0 0% 93%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
